taskrow {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 12px;
}

taskrow:hover {
  background-color: alpha(@theme_fg_color, 0.1);
}

taskrow:focus {
  background-color: alpha(@theme_fg_color, 0.05);
}

taskrow.card:hover {
  background-color: alpha(@theme_fg_color, 0.01);
}

taskrow:dir(ltr) { padding-left: 6px;  }
taskrow:dir(rtl) { padding-right: 6px; }

/* task title entry */
taskrow text {
  border: solid 1px transparent;
  background: none;
  border-radius: 3px;
}

/* line-through complete tasks */
taskrow.complete > * { opacity: 0.5; }
taskrow.complete entry.title { text-decoration-line: line-through; }

/* dnd row */
taskrow box.dnd {
    background: alpha(@theme_fg_color, 0.1);
}

/* new task row */
newtaskrow entry { padding: 0 16px 0 14px; }
